In [1]:
import pandas as pd

In [2]:
df= pd.read_csv("Iris.csv")

In [3]:
df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [4]:
df = df.drop("Id", axis=1)

In [5]:
df.head()

   SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0            5.1           3.5            1.4           0.2  Iris-setosa
1            4.9           3.0            1.4           0.2  Iris-setosa
2            4.7           3.2            1.3           0.2  Iris-setosa
3            4.6           3.1            1.5           0.2  Iris-setosa
4            5.0           3.6            1.4           0.2  Iris-setosa

In [16]:
from sklearn.decomposition import PCA

In [29]:
x = df.drop("Species",axis=1)
y = df["Species"]

In [17]:
pc = PCA(n_components=2)

In [18]:
x_pc = pc.fit_transform(x)

In [20]:
#x_pc

In [22]:
pc.explained_variance_ratio_

array([0.92461621, 0.05301557])

In [23]:
pc = PCA(n_components=3)

In [24]:
x_pc = pc.fit_transform(x)

In [25]:
pc.explained_variance_ratio_

array([0.92461621, 0.05301557, 0.01718514])

In [27]:
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis

In [28]:
ld  =LinearDiscriminantAnalysis(n_components=2)

In [30]:
x_ld = ld.fit_transform(x,y)

In [33]:
ld.explained_variance_ratio_*100

array([99.14724757,  0.85275243])

In [35]:
df_new = pd.DataFrame(x_ld, columns=["a","b"])

In [36]:
df_new.head()

          a         b
0  8.084953  0.328454
1  7.147163 -0.755473
2  7.511378 -0.238078
3  6.837676 -0.642885
4  8.157814  0.540639